button {
  border-style: none;
  padding: 14px 40px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.reset {
  border: 2px solid #81c5ff;
  color: #81c5ff;

  background: white;
}

.show {
  border: 2px solid #61b5ff;
  color: white;

  background: #81c5ff;
}
